@using BookReview.ClassLibrary
@inject BookReview.Data.DataContext _context
@model BookReview.Models.BookReviewModel


<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Model.ReviewedBook.Title</h1>
            <p><b>@Model.ReviewedBook.Author</b></p>
            <p>Kod książki: @Model.ReviewedBook.IdentyficationCode</p>
            <p>Data publikacji: @Model.ReviewedBook.PublishDate</p>
            <p><b>@Model.ReviewedBook.Summary</b></p>
            <h3>Średnia ocen: @Model.ReviewedBook.AvgScore</h3>
            <p>Ilość recenzji: @Model.ReviewedBook.ReviewsCount</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach(Review review in Model.Reviews)
        {
            <div class="col">
                <h3>@{_context.User.Where(x => x.UserId == review.AuthorId_FK).Select(x => x.Nick);}</h3>
                <p>@review.Date</p>
                <p>@review.Summary</p>
                <p>Ocena: @review.Score /5</p>
            </div>
        }
    </div>
</div>