@model BookReview.Models.BookReviewModel
@{
    string imgUrl = string.Empty;
}

<form method="post" asp-controller="Book" asp-action="UpdateReview">

    <div class="container-fluid reviewedBookBg">
        <div class="container">
            <div class="row d-flex flex-row p-3">
                <div class="col-2 p-0 d-flex align-items-center">
                    @{imgUrl = (string.IsNullOrEmpty(Model.ReviewedBook.ImgUrl)) ? "/img/No_picture_available.png" : Model.ReviewedBook.ImgUrl;}
                    <img src='@imgUrl' style="width:100%;"/>
                </div>
                <div class="col-10 p-4">
                    <h1>@Model.ReviewedBook.Title</h1>
                    <p><b>@Model.ReviewedBook.Author</b></p>
                    <p>Kod książki: @Model.ReviewedBook.IdentyficationCode</p>
                    <p>Data publikacji: @Model.ReviewedBook.PublishDate</p>
                    <p><b>@Model.ReviewedBook.Summary</b></p>
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="col-12">
                    <h3>Średnia ocen: @Model.ReviewedBook.AvgScore</h3>
                    <p>Ilość recenzji: @Model.ReviewedBook.ReviewsCount</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 bottomMargin">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="display-5 m-0">Twoja recenzja</div>
                <p>Oceniłeś już tą książkę. Możesz teraz edytować poprzednią recenzję.</p>
            </div>
            <div class="col-12">
                <textarea rows="6" asp-for=@Model.Review.Summary class="form-control" style="width:100%;" placeholder="treść recenzji" ></textarea>
            </div>
            <div class="col-12 my-3">
                <label>Ocena od 1 do 5: </label>
                <input type="number" max="5" min="1" asp-for=@Model.Review.Score value=@Model.Review.Score class="form-control" style="width:80px;" />
            </div>
            <div class="col d-flex justify-content-end">
                <input type="submit" value="Zaktualizuj recenzję" class="btn btn-primary px-5 py-2"/>
            </div>
        </div>
    </div>

    <div>
        <input type="hidden" asp-for=@Model.Review.ReviewId value="@Model.Review.ReviewId"/>
    </div>

</form>