@using BookReview.ClassLibrary
@model BookReview.Models.BookSearchModel
@{
    string imgUrl = string.Empty;
}

<div class="container">
    <form method="post" asp-controller="FindBook" asp-action="InternalSearchPost">
        <div class="row">
            <div class="col">
                <label>Tytuł:</label>
                <input asp-for=@Model.Book.Title/>
            </div>
            <div class="col">
                <label>Autor/Autorzy:</label>
                <input asp-for=@Model.Book.Author/>
            </div>
            <div class="col">
                <label>Kod identyfikacyjny książki:</label>
                <input asp-for=@Model.Book.IdentyficationCode/>
            </div>
            <div class="col">
                <input type="submit" value="Szukaj" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>


@if(Model.InternalBooks != null)
{
    if(Model.InternalBooks.Count > 0)
    {
        <div class="container">
            <div class="row">
                @foreach(Book book in Model.InternalBooks){
                    <div class="col-12 my-3 border border-secondary">
                        <div class="row d-flex d-row">
                            <div class="col-2">
                                @{imgUrl = (string.IsNullOrEmpty(book.ImgUrl)) ? "/img/No_picture_available.png" : book.ImgUrl;}
                                <img src='@imgUrl' style="width:100%;"/>
                            </div>
                            <div class="col-10 p-3">
                                <h1>@book.Title</h1>
                                <p><b>@book.Author</b></p>
                                <p>@book.Summary</p>
                                <p>@book.PublishDate</p>
                                <p>@book.IdentyficationCode</p>
                            </div>
                        </div>
                        <hr class="my-0 mx-3"/>
                        <div class="row my-4">
                            <div class="col-6 px-5">
                                <h3>Średnia ocen: @book.AvgScore / 5</h3>
                                <p class="m-0">Ilość recenzji: @book.ReviewsCount</p>
                            </div>
                            <div class="col-6 px-5 d-flex justify-content-end align-items-center">
                                    <input type="submit" class="btn btn-primary" value="Dodaj recenzję" asp-controller="Book" asp-action="AddReview" asp-route-id=@book.BookId/>
@*                                <form method="post" asp-controller="Book" asp-action="AddReview">
                                    <input type="hidden" name="BookId" value=@book.BookId />
                                </form*@>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Nikt nie ocenił jeszcze tej książki</h1>
                    <p>Nie znaleziono tej książki w naszej bazie. Wyszukaj książkę w bazie zewnętrznej aby dodać recenzję.</p>
                    <a asp-controller="Book" asp-action="ExternalSearch" class="btn btn-primary">Szukaj w bazie Google Books</a>
                </div>
            </div>
        </div>        
    }

}